{% extends 'admins/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Patients by Age Group</h5>
                    <canvas id="ageChart" width="400" height="300"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Images Classification</h5>
                    <canvas id="imageChart" width="400" height="300"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Upcoming Events</h5>
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Quick Actions</h5>
                    <a href="{{ url_for('admin.view_doctors') }}" class="btn btn-primary btn-block mb-2"><i class="fas fa-user-md"></i> View Doctors</a>
                    <a href="#" class="btn btn-info btn-block mb-2"><i class="fas fa-file-medical"></i> View Reports</a>
                    <a href="{{ url_for('admin.view_patients') }}" class="btn btn-info btn-block mb-2"><i class="fas fa-user-injured"></i> View Patients</a>
                    <a href="{{ url_for('admin.view_admins') }}" class="btn btn-info btn-block mb-2"><i class="fas fa-pen"></i> View Admins</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


