{% extends 'admins/base.html' %}

{% block content%}
<div class="row">
    <div class="col-md-6">
        <h2>Create Doctor</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label(class='form-label') }}
                {{ form.username(class='form-control') }}
            </div>
            <div class="form-group">
                {{ form.fullname.label(class='form-label') }}
                {{ form.fullname(class='form-control') }}
            </div>
            <div class="form-group">
                {{ form.email.label(class='form-label') }}
                {{ form.email(class='form-control') }}
            </div>
            <div class="form-group">
                {{ form.phone_number.label(class='form-label') }}
                {{ form.phone_number(class='form-control') }}
            </div>
            <div class="form-group">
                {{ form.license_number.label(class='form-label') }}
                {{ form.license_number(class='form-control') }}
            </div>
            <div class="form-group">
                {{ form.specialization.label(class='form-label') }}
                {{ form.specialization(class='form-control') }}
            </div>
            <div class="form-group">
                {{ form.hospital_affiliation.label(class='form-label') }}
                {{ form.hospital_affiliation(class='form-control') }}
            </div>
            <div class="form-group">
                {{ form.password.label(class='form-label') }}
                {{ form.password(class='form-control') }}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label(class='form-label') }}
                {{ form.confirm_password(class='form-control') }}
            </div>

            <!--Display flashed messages-->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="container">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <button type="submit" class="btn btn-success">Create Doctor</button>
            <a href="{{ url_for('admin.view_doctors') }}" class="btn btn-warning">View Doctors</a>
        </form>
    </div>
</div>
{% endblock %}
