{% extends 'admins/base.html' %}

{% block content %}
  <div class="container">
    <h4 class="my-2">View Doctors</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>License Number</th>
                <th>Specialization</th>
                <th>Hospital Affiliation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for doctor in doctors_data %}
                <tr>
                    <td>{{ doctor.fullname }}</td>
                    <td>{{ doctor.email }}</td>
                    <td>{{ doctor.phone_number }}</td>
                    <td>{{ doctor.license_number }}</td>
                    <td>{{ doctor.specialization }}</td>
                    <td>{{ doctor.hospital_affiliation }}</td>
                    <td>
                        <a href="{{ url_for('admin.doctors', doctor_id=doctor.id) }}" class="btn btn-primary btn-sm">Edit</a>
                    </td>
                    <td>
                        <a href="{{ url_for('admin.doctors', doctor_id=doctor.id) }}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
